body { background-color: black; }
.torposition { display: flex; margin-left: 50%; margin-bottom: -15%; margin-top: 20%;}
.lig { animation: 5s ease-in-out loadEffect1; display: flex; justify-content: center;}
.tortext {color: #61ECFF; font-size: 50px; 
    font-weight: bolder; margin-left: 30%; margin-top: -15%;}

@keyframes loadEffect1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}