body {
  background-color: black;
}

.container {
  max-width: 400px; /* 최대 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  background-color: black;
  color: rgb(97, 236, 255);
}

.title {
  margin-top: 20px; /* 제목과 캘린더 간격 설정 */
  text-align: center;
}

/* 달력 년월 표시 & 바꾸는 부분 */
#a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#month-year {
  font-size: 20px;
  margin-left: 20px;
}

#month-changer {
  margin-right: 20px;
}

.arrow_button {
  font-size: 20px;
  color: rgb(97, 236, 255);
  background-color: black;
  border-style: none;
  cursor: pointer;
}

.calendar-table {
  display: table;
  border-collapse: seperate;
  border-spacing: 10px;
}

#day {
  display: table-row;
}

#day > div {
  display: table-cell;
  font-size: 16px;
  padding: 3px;
}

.circle {
  display: table-cell;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 1.3em;
  color: 61ECFF;
  border: 2px solid rgb(97, 236, 255);
  text-align: center;
  padding: 7.5px;
  cursor: pointer;
}
.clicked {
  background-color: white;
  color: rgb(97, 236, 255);
}

#wrapper {
  display: table-row;
  border-width: 90%;
}

#selected-date {
  width: 100%;
}

#formattedDate {
  margin-left: 20px;
  font-size: 20px;
}

#tasks-container {
  font-size: 15px;
  margin-left: 20px;
}

.titlecontainer {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.titlebutton {
  width: 44px;
  height: 44px;
  margin-left: 30px;
  background: #171a1a;
  box-shadow: 8px 8px 16px #263140, -8px -8px 16px #394960;
  border-radius: 1e11px;
  cursor: pointer;
}
